<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542127194922-oct460j925c0j3t8gdi89lou2k4assot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542127194922-oct460j925c0j3t8gdi89lou2k4assot</string>
	<key>API_KEY</key>
	<string>AIzaSyBtjg8fZiOnbQ_BD0uZSB_3yerCcyzFCYI</string>
	<key>GCM_SENDER_ID</key>
	<string>542127194922</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.ffwp.church</string>
	<key>PROJECT_ID</key>
	<string>ffwpchurch</string>
	<key>STORAGE_BUCKET</key>
	<string>ffwpchurch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:542127194922:ios:73b452a0f0abaed2</string>
	<key>DATABASE_URL</key>
	<string>https://ffwpchurch.firebaseio.com</string>
</dict>
</plist>
